main hr{
	width: 50%;
}

main .notifications{
	position: absolute;
	right: 0;
	top: 0;
	margin-top: 20px;
	margin-right: 20px;
	width: 40%;
}

main .match{
	text-align: center;
	font-size: 3rem;
}

main .match .characters img{
	padding: 0 2px;
}

main .match .characters .vs{
	font-weight: bolder;
}

main svg{
	position: relative;
}

main svg rect.bar:hover,
main svg path.slice:hover{
	filter: brightness(0.8);
	filter: url("#darken");
}


main svg image.gray{
	filter: grayscale(1);
	filter: url("#grayscale");
}

main #matchups svg{
	display: block;
	margin: auto;
	max-width: 1000px;
	width: 100%;
}

main #matchups svg text.label{
	cursor: default;
}

main #matchups svg .tick text,
main #matchups svg .tick line{
	display: none;
}

.tip{
	top: 0;
	position: absolute;
	opacity: 0;
	background-color: black;
	color: white;
	border-radius: 5px;
	padding: 10px;
	transition: opacity 200ms ease;
	z-index: 1000;
	text-align: center;
}

.tip::after{
	background-color: black;
	position: absolute;
	bottom: -8px;
	left: 50%;
	width: 10px;
	height: 10px;
	content: "";
	display: block;
	transform: rotate(45deg) translateX(-5px);
}
