{% extends "layout.html" %}

{% block nav_about %}active{% endblock %}

{% block body %}
	{{ super() }}
	<h1 class="mt-2">About</h1>
	<p>
		Slippi Stats Web is a web application to visualize data from Slippi replay game files (.slp) through various kind of charts. You can check your winrate with and/or against any character, on any stage, etc. You can also track your evolution through time for a specific matchup.
	</p>
	<h2>Contributors</h2>
	<ul>
		<li><a href="https://mickaelgillot.xyz">Mickaël Gillot</a></li>
		<li><a href="https://sebastientourneux.fr">Sébastien Tourneux</a></li>
	</ul>
	<h2>Useful links</h2>
	<ul>
		<li><a href="https://gitlab.com/Coukaratcha/slippi-stats-web">Sources</a>: Gitlab's page where you can view and download sources of this project or submit issues if you experience some trouble while deploying it. You can also ask for new features and vote for your favorites.</li>
		<li><a href="https://slippi.gg">Slippi</a>: Project implementing rollback netcode, matchmaking and replays for <em>Super Smash Bros. Melee</em>.</li>
		<li><a href="https://github.com/hohav/py-slippi">py-slippi</a>: Python parser for .slp game replay files produced by Slippi.</li>
	</ul>

	<h2>Methodology</h2>
	<p>
		<h4>LRAStart</h4>
		A game ending with LRAStart is accounted as a Tie, and thus not accounted for in all the winrates charts. In Unranked mode, it is not possible to find out if a LRAStart if a win or a loss, as people can quit because they give up, or because they are sure to win (eg star KO, strong hit landed at high %).
		<h4>Disconnections</h4>
		As game continues after disconnection, .slp file is written as regular games, and will be processed as a win/loss, or as a LRAStart if you quit. You can remove those games manually using the <a href="/edit">Manage Data > View/Edit</a> page, or deleting the .slp file before import.
		<h4>Unique Player</h4>
		If you choose "Unique opponent" filter, data will be aggregated by distinct players' code and character, on any period of time. This means that there is one piece of data for each player you encountered and character they played.<br>
		The result of this set is computed by these rules:
		<ul>
			<li>If you won more games than you lost, it counts as a win</li>
			<li>If you lost more games than you won, it counts as a loss</li>
			<li>If you won as many games as you lost, it counts as a tie</li>
		</ul> 
		Please note that winrate is calculated by only accounting wins and losses, not ties.
	</p>
{% endblock body %}
