{% extends "layout.html" %}

{% block nav_manage %}active{% endblock %}
{% block nav_edit %}active{% endblock %}

{% block body %}
	{{ super() }}
	<div class="notifications">
	</div>
	<h1 class="mt-2 d-flex justify-content-between">
		<span>Edit games (<span class="count-games">0</span>)</span>
		<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-confirm-delete">Delete selected games</button>
	</h1>
	<div class="filters mt-4 card card-body">
		<div class="text-right">
			<a class="" data-toggle="collapse" href="#filters" role="button" aria-expanded="false" aria-controls="filtersForm">Filter results</a>
		</div>
		<form id="filters" class="collapse pt-2">
			<div class="row">
				<div class="form-group col-md-4">
					<label for="opponent">Opponent's code</label>
					<input type="text" class="form-control" id="opponent" placeholder="XXXX#123" name="opponent">
				</div>
				<div class="form-group col-md-4">
					<label for="date_after">After</label>
					<input type="date" class="form-control" id="date_after" name="date_after">
				</div>
				<div class="form-group col-md-4">
					<label for="date_before">Before</label>
					<input type="date" class="form-control" id="date_before" name="date_before">
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md">
					<label for="with">Player's characters</label>
					<select multiple class="form-control" id="with" size="15" name="with">
						{% for c in characters %}
						<option>{{c}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="form-group col-md">
					<label for="against">Opponent's characters</label>
					<select multiple class="form-control" id="against" size="15" name="against">
						{% for c in characters %}
						<option>{{c}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="col-md">
					<div class="form-group">
						<label for="stages">Stages</label>
						<select multiple class="form-control" id="stages" name="stages" size="6">
							<option>Battlefield</option>
							<option>Dream Land N64</option>
							<option>Final Destination</option>
							<option>Fountain of Dreams</option>
							<option>Yoshi's Story</option>
							<option>Pokémon Stadium</option>
						</select>
					</div>
					<div class="form-group d-none">
						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input" name="unique" id="unique" disabled>
							<label for="unique" class="custom-control-label">Unique opponent</label>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group text-center">
				<button class="btn btn-secondary" role="button" id="reset">Reset</button>
				<button class="btn btn-primary" role="button" id="validate">Validate</button>
			</div>
		</form>
	</div>

	<div id="loading" class="d-flex justify-content-center">
		<div class="spinner-border text-primary mt-4" role="status">
			<span class="sr-only">Loading...</span>
		</div>
	</div>
	<div id="no-data" class="text-center mt-2" style="display: none;">
		There are no games. <br>
		Go to <a href="/import">Import</a> to import your games.
	</div>
	<div id="data" style="display: none;">
		<table class="mt-3 table">
			<thead class="thead-light">
				<tr>
					<th scope="col"><input type="checkbox" id="checkbox-all"></th>
					<th scope="col">Filename</th>
					<th scope="col">Date</th>
					<th scope="col">Opponent</th>
					<th scope="col">Characters</th>
					<th scope="col">Stage</th>
					<th scope="col">Duration</th>
					<th scope="col">Result</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>

	<div class="modal fade" id="modal-confirm-delete" tabindex="-1" aria-labelledby="title-confirm-delete" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="title-confirm-delete">Confirm deletion</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>
						You are about to delete <span class="count-delete">?</span>. Are you sure?
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-danger confirm" data-dismiss="modal">Delete</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block script %}
	{{ super() }}
	<script src="{{ url_for('static', filename='js/edit.js') }}"></script>
{% endblock %}