{% extends "layout.html" %}

{% set characters = [
        'Dr. Mario',
        'Mario',
        'Luigi',
        'Bowser',
        'Peach',
        'Yoshi',
        'Donkey Kong',
        'Captain Falcon',
        'Ganondorf',
        'Fox',
        'Falco',
        'Ness',
        'Ice Climbers',
        'Kirby',
        'Samus',
        'Zelda',
        'Sheik',
        'Link',
        'Young Link',
        'Pichu',
        'Pikachu',
        'Jigglypuff',
        'Mewtwo',
        'Mr. Game & Watch',
        'Marth',
        'Roy',
        ] %}

{% block nav_evolution %}active{% endblock %}

{% block body %}
	{{ super() }}
	<div class="row">
		<div class="filters mt-4 card card-body">
			<div class="text-right">
				<a class="" data-toggle="collapse" href="#filters" role="button" aria-expanded="false" aria-controls="filtersForm">Filter results</a>
			</div>
			<form id="filters" class="collapse pt-2">
				<div class="row">
					<div class="form-group col-md-4">
						<label for="opponent">Opponent's code</label>
						<input type="text" class="form-control" id="opponent" name="opponent" placeholder="XXXX#123">
					</div>
					<div class="form-group col-md-4">
						<label for="date_after">After</label>
						<input type="date" class="form-control" id="date_after" name="date_after">
					</div>
					<div class="form-group col-md-4">
						<label for="date_before">Before</label>
						<input type="date" class="form-control" id="date_before" name="date_before">
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md">
						<label for="with">Player's characters</label>
						<select multiple class="form-control" id="with" size="15" name="with">
							{% for c in characters %}
							<option>{{c}}</option>
							{% endfor %}
						</select>
					</div>
					<div class="form-group col-md">
						<label for="against">Opponent's characters</label>
						<select multiple class="form-control" id="against" size="15" name="against">
							{% for c in characters %}
							<option>{{c}}</option>
							{% endfor %}
						</select>
					</div>
					<div class="col-md">
						<div class="form-group">
							<label for="stages">Stages</label>
							<select multiple class="form-control" id="stages" name="stages" size="6">
								<option>Battlefield</option>
								<option>Dream Land N64</option>
								<option>Final Destination</option>
								<option>Fountain of Dreams</option>
								<option>Yoshi's Story</option>
								<option>Pokémon Stadium</option>
							</select>
						</div>
						<div class="form-group d-none">
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" name="unique" id="unique" disabled>
								<label for="unique" class="custom-control-label">Unique opponent ?</label>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group text-center">
					<button class="btn btn-secondary" role="button" id="reset">Reset</button>
					<button class="btn btn-primary" role="button" id="validate">Validate</button>
				</div>
			</form>
		</div>
	</div>
	<div class="match mt-4">
		<div class="row">
			<div id="player-info" class="col-sm-5">
				<span class="characters mb-2"></span>
				<span class="code">{{ player }}</span>
			</div>
			<div class="col-sm-2 vs">
				VS
			</div>
			<div id="opponent-info" class="col-sm-5">
				<span class="code">?</span>
				<span class="characters mb-2"></span>
			</div>
		</div>
	</div>

	<div id="loading" class="d-flex justify-content-center">
		<div class="spinner-border text-primary mt-4" role="status">
			<span class="sr-only">Loading...</span>
		</div>
	</div>
	<div id="no-data" class="text-center" style="display: none;">
		There are no games. <br>
		{% if "login" in session or config.LOCAL_ONLY %}
		Go to <a href="/import">Import</a> to import your games.
		{% endif %}
	</div>
	<div id="data" style="display: none;">
		<div id="charts" class="mt-4 text-center">
			<h3><em>Winrate</em> over <em>time</em></h3>
			<div id="chart-games-time">
			</div>
			<h3><em>Wins/Losses</em> over <em>time (monthly)</em></h3>
			<div id="chart-wins-time">
			</div>
		</div>
	</div>
{% endblock body %}

{% block script %}
	{{ super() }}
	<script src="{{ url_for('static', filename = 'js/evolution.js') }}"></script>
{% endblock script %}
