{% extends "layout.html" %}

{% block nav_manage %}active{% endblock %}
{% block nav_import %}active{% endblock %}

{% block body %}
	{{ super() }}
	<div class="row mt-4">
		<div class="col-4">
			<h3>Steps</h3>
			<ol>
				<li>
					Set up your replays' folder and player code in config.cfg.<br>
					<em>Note:</em> Current replays' folder is <code>{{ replays }}</code>
					<em>Note:</em> All files in all sub-directories are parsed, not only files at the root of replays' folder.
				</li>
				<li>
					Click on the <span class="text-primary">Import data</span> button. It may take a while the first time if you have a lot of replays, but the next times only the new replays will be processed.<br>
				</li>
				<li>
					Once some files are successfully processed, you can go other pages to view charts. Refresh to update data with newly imported files.
				</li>
				<li>
					You can go back to this page any time you want to check for progress and logs.
				</li>
			</ol>
			<form id="import">
				<div class="form-group text-center">
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" name="exclude" id="exclude">
						<label for="exclude" class="custom-control-label">Exclude small files (&lt; 615KB &sime; 30s)</label>
					</div>
				</div>
				<button type="submit" class="btn btn-block btn-primary btn-lg">Import data</button>
			</form>
		</div>
		<div class="col-8">
			<div class="progress-output mt-4 text-center">
				Total: <span class="total"></span><br>
				Imported: <span class="imported"></span><br>
				Errors: <span class="errors"></span><br>
				Ignored: <span class="ignored"></span><br>
				Progression: <span class="progression"></span><br>
			</div>
			<div class="progress mt-2">
				<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
			<hr class="mt-4 mb-4">
			<div class="log mt-2">
				<h4>Logs</h4>
				<div class="filters mb-4">
					<button type="button" class="btn btn-danger">ERROR</button>
					<button type="button" class="btn btn-warning">INFO</button>
					<button type="button" class="btn btn-success">SUCCESS</button>
				</div>
				<div class="content text-monospace rounded border p-4">
				</div>
			</div>
		</div>
	</div>
{% endblock body %}

{% block script %}
	{{ super() }}
	<script src="{{ url_for('static', filename = 'js/import.js') }}"></script>
{% endblock script %}
