{% set characters = [
	'Dr. Mario',
	'Mario',
	'Luigi',
	'Bowser',
	'Peach',
	'Yoshi',
	'Donkey Kong',
	'Captain Falcon',
	'Ganondorf',
	'Fox',
	'Falco',
	'Ness',
	'Ice Climbers',
	'Kirby',
	'Samus',
	'Zelda',
	'Sheik',
	'Link',
	'Young Link',
	'Pichu',
	'Pikachu',
	'Jigglypuff',
	'Mewtwo',
	'Mr. Game & Watch',
	'Marth',
	'Roy',
	] %}
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Slippi Stats Web</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
		<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
		<script src="https://d3js.org/d3.v5.min.js"></script>
	</head>
	<body>
		<header class="navbar navbar-dark bg-dark navbar-expand-lg">
			<a href="/" class="navbar-brand">Slippi Stats Web</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbar-menu">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item {% block nav_overall %}{% endblock nav_overall %}">
						<a href="/" class="nav-link">Overall</a>
					</li>
					<li class="nav-item {% block nav_evolution %}{% endblock nav_evolution %}">
						<a href="/evolution" class="nav-link">Evolution</a>
					</li>
					<li class="nav-item {% block nav_matchups %}{% endblock nav_matchups %}">
						<a href="/matchups" class="nav-link">Matchups</a>
					</li>
					<li class="nav-item {% block nav_about %}{% endblock nav_about %}">
						<a href="/about" class="nav-link">About</a>
					</li>
					{% if config.LOCAL_ONLY or "login" in session %}
					<li class="nav-item dropdown {% block nav_manage %}{% endblock %}">
						<a href="#" class="nav-link dropdown-toggle" role="button" id="data-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manage data</a>
						<div class="dropdown-menu" aria-labelledby="data-dropdown">
							<a href="/import" class="dropdown-item {% block nav_import %}{% endblock %}">Import</a>
							<a href="/edit" class="dropdown-item {% block nav_edit %}{% endblock %}">View/Edit</a>
						</div>
					</li>
					{% endif %}
				</ul>
			</div>
			{% if not config.LOCAL_ONLY %}
				{% if "login" in session %}
				<a class="btn btn-outline-danger" href="/logout">Logout</a>
				{% else %}
				<button type="button" class="btn btn-outline-success mr-sm-2" data-toggle="modal" data-target="#modal-login">Login</button>
				{% endif %}
			{% endif %}
		</header>
		<div class="container">
			<main role="main">
				{% block body %}
				{% endblock body %}
			</main>
		</div>
		<div class="modal fade" id="modal-login" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="modal-login-label" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="modal-login-label">Login</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form action="/login" method="POST">
							<div class="form-group">
								<label for="password">Password</label>
								<input type="password" class="form-control" id="password" name="password">
							</div>
							<button type="submit" class="btn btn-block btn-primary">Sign in</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		{% block script %}
			<script src="{{ url_for('static', filename = 'js/main.js') }}"></script>
		{% endblock script %}
		<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0">
			<filter id="grayscale">
				<feColorMatrix type="matrix" values="0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0"/>
			</filter>
			<filter id="darken">
				<feComponentTransfer>
					<feFuncR type="linear" slope="0.8"/>
					<feFuncG type="linear" slope="0.8"/>
					<feFuncB type="linear" slope="0.8"/>
				</feComponentTransfer>
			</filter>
		</svg>
	</body>
</html>

