{% extends "layout.html" %}

{% block nav_matchups %}active{% endblock %}

{% block body %}
	{{ super() }}
	<div id="matchups"></div>
{% endblock body %}

{% block script %}
	{{ super() }}
	<script src="{{ url_for('static', filename = 'js/matchups.js') }}"></script>
{% endblock script %}
